<% provide(:title, @reaction.title) %>
<h1><%= @reaction.title %></h1>
<div class="row reaction">
  <section class="span8 offset2 center">
    <h2>Uploaded by <%= @reaction.user.username %> </h2>
    <%= image_tag @reaction.gif.url, class: "img-polaroid center" %>
      <div class="row">
    <section class="span4 offset2 center">
      <%= render @comments %>
    </section>
  </div>
  <div class="row">
    <section class="span4 offset2 center">
      <%= render 'reactions/comment_form' %>
    </section>
  </div>
  </section>
  <aside class="span2">
    <section>
      <h1>
        Tags
      </h1>
    </section>
    <section class="center">
      <% if current_user?(@reaction.user) %>
        <%= form_for(@tag, url: reaction_taggings_path(@reaction)) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_field :name, required: true, placeholder: "New Tag"  %>
          <%= f.submit "Tag it", class: "btn btn-primary small" %>
        <% end %>
      <% end %>
    </section>
    <section class="tags">
      <%= render @taggings %>
    </section>
  </aside>
</div>
